*.o
*.hi
# Build files/directories
/.stack-work/
/dist/
/dist-newstyle/

# Local GHC and Cabal related files
.ghc.environment*
cabal.project.local

# Temp files created by Vim/Neovim
*.swp
*.swo
*~
dist/
cabal-dev/
.hsenv
TAGS
tags
*.tag
*.elc
src/main/Main
src/main/TestGenerate
.stack-work
.cabal-sandbox/
cabal.sandbox.config

# Other
.log
